{% import_yaml 'prometheus/defaults.yaml' as defaults %}

{% set prometheus = salt['pillar.get']('prometheus', default=defaults.prometheus, merge=True) %}

{% do prometheus.alertmanager.update({'version_path': prometheus.alertmanager.install_dir ~ "/alertmanager-" ~ prometheus.alertmanager.version}) %}
{% do prometheus.pushgateway.update({'version_path': prometheus.pushgateway.install_dir ~ "/pushgateway-" ~ prometheus.pushgateway.version}) %}
{% do prometheus.server.update({'version_path': prometheus.server.install_dir ~ "/prometheus-" ~ prometheus.server.version}) %}

{% do prometheus.exporters.node.update({'version_path': prometheus.exporters.node.install_dir ~ "/node_exporter-" ~ prometheus.exporters.node.version}) %}
{% do prometheus.exporters.blackbox.update({'version_path': prometheus.exporters.blackbox.install_dir ~ "/blackbox_exporter-" ~ prometheus.exporters.blackbox.version}) %}
{% do prometheus.exporters.haproxy.update({'version_path': prometheus.exporters.haproxy.install_dir ~ "/haproxy_exporter-" ~ prometheus.exporters.haproxy.version}) %}
{% do prometheus.exporters.rabbitmq.update({'version_path': prometheus.exporters.rabbitmq.install_dir ~ "/rabbitmq_exporter-" ~ prometheus.exporters.rabbitmq.version}) %}
{% do prometheus.exporters.postgres.update({'version_path': prometheus.exporters.postgres.install_dir ~ "/postgres_exporter-" ~ prometheus.exporters.postgres.version}) %}

