[Unit]
Description=Prometheus exporter for postgres
Documentation=https://github.com/wrouesnel/postgres_exporter
Wants=basic.target
After=basic.target network.target

[Service]
User=prometheus
Group=prometheus
EnvironmentFile=/etc/default/postgres_exporter
ExecStart=/usr/bin/postgres_exporter $ARGS
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always
RestartSec=42s

[Install]
WantedBy=multi-user.target
